snapshot-sample/snapshot_stack.json
{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Parameters": {
        "BucketName": {
            "Type": "String",
            "Description": "Enter the bucket name where the lambda is stored and snapshots will be saved"
        },
        "LambdaZipFilePath": {
            "Type": "String",
            "Default": "sim_controller.zip",
            "Description": "Enter the lambda function zip path (ex. path/to/sim_controller.zip)"
        },
        "SimulationJobName": {
            "Type": "String",
            "Default": "SampleSimulation",
            "Description": "Enter a unique name for the simulation job"
        },
        "SchemaBucketName": {
            "Type": "String",
            "Default": "aws-simspace-weaver-sdk-us-west-2-prod",
            "Description": "Enter the S3 bucket name for the schema"
        },
        "SchemaFilePath": {
            "Type": "String",
            "Default": "latest/OneClickSim/one-click-sim-pathfindingsample-schema.yaml",
            "Description": "Enter the path to the schema file"
        }
    },
    "Resources": {
        "SnapshotMachineRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
                "RoleName": "SnapshotMachineRole",
                "AssumeRolePolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "states.amazonaws.com"
                            },
                            "Action": "sts:AssumeRole"
                        }
                    ]
                },
                "Path": "/",
                "Policies": [
                    {
                        "PolicyName": "SnapshotMachineRolePolicy",
                        "PolicyDocument": {
                            "Version": "2012-10-17",
                            "Statement": [
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "lambda:InvokeFunction"
                                    ],
                                    "Resource": [
                                        "Fn::Join" : [":", ["Fn::GetAtt": ["SnapshotLambda", "Arn"], "*"]]
                                    ]
                                },
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "lambda:InvokeFunction"
                                    ],
                                    "Resource": [
                                        "Fn::GetAtt": ["SnapshotLambda", "Arn"]
                                    ]
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "SnapshotLambdaRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
                "RoleName": "SnapshotLambdaRole",
                "AssumeRolePolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "lambda.amazonaws.com"
                            },
                            "Action": "sts:AssumeRole"
                        }
                    ]
                },
                "Path": "/",
                "Policies": [
                    {
                        "PolicyName": "SnapshotLambdaRolePolicy",
                        "PolicyDocument": {
                            "Version": "2012-10-17",
                            "Statement": [
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "simspaceweaver:DescribeSimulation",
                                        "simspaceweaver:StartClock",
                                        "simspaceweaver:DescribeApp",
                                        "simspaceweaver:StartApp",
                                        "simspaceweaver:CreateSnapshot",
                                        "logs:CreateLogGroup",
                                        "logs:CreateLogStream",
                                        "logs:PutLogEvents"
                                    ],
                                    "Resource": "*"
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "SSWeaverServiceRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
                "RoleName": "SimSpaceWeaverServiceRole",
                "AssumeRolePolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "simspaceweaver.amazonaws.com"
                                ]
                            },
                            "Action": [
                                "sts:AssumeRole"
                            ]
                        }
                    ]
                },
                "Path": "/",
                "Policies": [
                    {
                        "PolicyName": "SimSpaceWeaverServiceRolePolicy",
                        "PolicyDocument": {
                            "Version": "2012-10-17",
                            "Statement": [
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "logs:PutLogEvents",
                                        "logs:DescribeLogGroups",
                                        "logs:DescribeLogStreams",
                                        "logs:CreateLogGroup",
                                        "logs:CreateLogStream"
                                    ],
                                    "Resource": "*"
                                },
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "cloudwatch:PutMetricData"
                                    ],
                                    "Resource": "*"
                                },
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "s3:ListBucket",
                                        "s3:PutObject",
                                        "s3:GetObject"
                                    ],
                                    "Resource": "*"
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "StartSimulationEventRole": {
            "Type": "AWS::IAM::Role",
            "Properties":{
                "RoleName": "StartSimulationEventRole",
                "AssumeRolePolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "events.amazonaws.com"
                            },
                            "Action": "sts:AssumeRole"
                        }
                    ]
                },
                "Path": "/",
                "Policies": [
                    {
                        "PolicyName": "StartSimulationEventPolicy",
                        "PolicyDocument": {
                            "Version": "2012-10-17",
                            "Statement": [
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "states:StartExecution"
                                    ],
                                    "Resource": [
                                        "Fn::GetAtt": ["SnapshotMachine", "Arn"]
                                    ]
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "SnapshotLambda": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
                "FunctionName": "SnapshotLambda",
                "Timeout": 900,
                "ReservedConcurrentExecutions": 1,
                "Role": {
                    "Fn::GetAtt": [
                        "SnapshotLambdaRole",
                        "Arn"
                    ]
                },
                "Code": {
                    "S3Bucket": {
                        "Ref": "BucketName"
                    },
                    "S3Key": {
                        "Ref": "LambdaZipFilePath"
                    }
                },
                "Runtime": "python3.7",
                "Handler": "sim_controller.lambda_handler",
                "Environment": {
                    "Variables": {
                        "SNAPSHOTBUCKET": {
                            "Ref": "BucketName"
                        }
                    }
                }
            }
        },
        "SnapshotMachine": {
            "Type": "AWS::StepFunctions::StateMachine",
            "Properties": {
                "StateMachineName": "SnapshotMachine",
                "Definition": {
                  "Comment": "Take SS Weaver snapshots",
                  "StartAt": "Initialize",
                  "States": {
                    "Decrement Count": {
                      "Next": "Is count equal zero?",
                      "Parameters": {
                        "count.$": "States.MathAdd($.count, -1)",
                        "simulation_name.$": "$.simulation_name"
                      },
                      "Type": "Pass"
                    },
                    "Initialize": {
                      "Next": "Is count equal zero?",
                      "Parameters": {
                        "count": 3,
                        "simulation_name.$": "$.detail.requestParameters.Name"
                      },
                      "Type": "Pass"
                    },
                    "Is count equal zero?": {
                      "Choices": [
                        {
                          "Next": "Success",
                          "NumericEquals": 0,
                          "Variable": "$.count"
                        }
                      ],
                      "Default": "Wait 60 seconds",
                      "Type": "Choice"
                    },
                    "Wait 60 seconds": {
                      "Next": "Take Snapshot",
                      "Seconds": 60,
                      "Type": "Wait"
                    },
                    "Success": {
                      "Type": "Succeed"
                    },
                    "Take Snapshot": {
                      "Next": "Was snapshot taken?",
                      "Parameters": {
                        "FunctionName": "arn:aws:lambda:us-west-2:797606728077:function:SnapshotLambda:$LATEST",
                        "Payload.$": "$"
                      },
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "ResultPath": "$.lambda_output",
                      "ResultSelector": {
                        "snapshot_taken.$": "$.Payload.SnapshotTaken"
                      },
                      "Retry": [
                        {
                          "BackoffRate": 2,
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException",
                            "Lambda.TooManyRequestsException"
                          ],
                          "IntervalSeconds": 2,
                          "MaxAttempts": 6
                        }
                      ],
                      "Type": "Task"
                    },
                    "Wait 30 seconds": {
                      "Next": "Take Snapshot",
                      "Seconds": 30,
                      "Type": "Wait"
                    },
                    "Was snapshot taken?": {
                      "Choices": [
                        {
                          "BooleanEquals": true,
                          "Next": "Decrement Count",
                          "Variable": "$.lambda_output.snapshot_taken"
                        }
                      ],
                      "Default": "Wait 30 seconds",
                      "Type": "Choice"
                    }
                  }
                },
                "RoleArn": {
                    "Fn::GetAtt": ["SnapshotMachineRole", "Arn"]
                }
            }
        },
        "StartSimulationEventRule": {
            "Type": "AWS::Events::Rule",
            "DependsOn" : "SnapshotMachine",
            "Properties": {
                "Description": "Creates event when SS Weaver StartSimulation API is called",
                "EventBusName": "default",
                "EventPattern": {
                    "detail-type": ["AWS API Call via CloudTrail"],
                    "detail": {
                        "eventSource": ["simspaceweaver.amazonaws.com"],
                        "eventName": ["StartSimulation"]
                    }
                },
                "Name": "SnapshotMachine-StartSimulationEventRule",
                "State": "ENABLED",
                "Targets": [{
                    "Id": "SnapshotMachine",
                    "Arn": {
                        "Fn::GetAtt": ["SnapshotMachine", "Arn"]
                    },
                    "RoleArn": {
                        "Fn::GetAtt": ["StartSimulationEventRole", "Arn"]
                    }
                }]
            }
        },
        "SimulationJob": {
            "Type": "AWS::SimSpaceWeaver::Simulation",
            "DependsOn": "StartSimulationEventRule",
            "Properties": {
                "Name": {
                    "Ref": "SimulationJobName"
                },
                "RoleArn": {
                    "Fn::GetAtt": [
                        "SSWeaverServiceRole",
                        "Arn"
                    ]
                },
                "SchemaS3Location": {
                    "BucketName": {
                        "Ref": "SchemaBucketName"
                    },
                    "ObjectKey": {
                        "Ref": "SchemaFilePath"
                    }
                }
            }
        }
    }
}